html, body {
  margin: 0;
  padding: 0;
  background: #202124;

  font-family: sans-serif;
  color: #e5e5e5;
  line-height: 1.2;

  height: 100%;
}

* {
  box-sizing: border-box;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: visible;
  padding: 0.2em;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

.material-icons.material-inline {
  font-size: 1.1rem;
  line-height: 1;
  vertical-align: bottom;
}

.container {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limit {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

:root {
  --controls-height: 2em;
}

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--controls-height));
}

.controls {
  position: relative;
  flex-grow: 0;
  height: var(--controls-height);
}

.renderer {
  display: block;
  position: relative;
  margin: auto;
  max-width: 96%;
  max-height: 96%;
  background: black;
}
