:root {
  --controls-height: 3em;
  --background: #202124;
  --foreground: #e5e5e5;
  --full: calc(var(--vh, 1vh) * 100);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;

  height: 100%;
}

* {
  box-sizing: border-box;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: visible;
  padding: 0.2em;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

.container {
  position: relative;
  height: var(--full);

  display: flex;
  flex-direction: column;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limit {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--controls-height));
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.controls {
  position: relative;
  flex-grow: 0;
  height: var(--controls-height);
  overflow: hidden;
  width: 100%;
}

.controls i {
  position: relative;
  font-size: 2em;
  margin: 0 0.5em;
  cursor: default;
}

.controls.help i {
  font-size: 1em;
  padding-bottom: 1em;
  width: 4em;
  text-align: center;
  margin: 0;
}

.controls.help i::after {
  content: attr(title);
  position: absolute;
  font-size: 0.8em;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  overflow: visible;
  display: block;
  font-family: sans-serif;
  text-align: center;
}

.palette {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--background);
  user-select: none;
}

.renderer {
  display: block;
  position: relative;
  max-width: 96%;
  max-height: 96%;
}

.hidden-image {
  opacity: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: yellow;
}

.renderer canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.handle-h::after,
.handle-v::after {
  --size: 24px;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.handle-h::after {
  transform: translate(0, calc(-1 * var(--size) * (0.25)));
  height: var(--size);
}

.handle-v::after {
  transform: translate(calc(-1 * var(--size) * (0.25)));
  width: var(--size);
}

