:root {
  --controls-height: 3em;
  --background: #202124;
  --foreground: #e5e5e5;
  --full: calc(var(--vh, 1vh) * 100);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;

  height: 100%;
}

* {
  box-sizing: border-box;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: visible;
  padding: 0.2em;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

.container {
  position: relative;
  height: var(--full);

  display: flex;
  flex-direction: column;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limit {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--controls-height));
}

.controls {
  position: relative;
  flex-grow: 0;
  height: var(--controls-height);
  overflow: hidden;
  width: 100%;
}

.controls i {
  font-size: 2em;
  margin: 0 16px;
  cursor: default;
}

.palette {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--background);
  user-select: none;
}

.renderer {
  display: block;
  position: relative;
  margin: auto;
  max-width: 96%;
  max-height: 96%;
}
